body {
	background-color: #ff9999;
	Font-family: "Mongolian Baiti Regular";
	color:  #000080;
}
 h1 {
 	color:  #0066ff;
 }
 	h2 {
 		color:  #ffffff
}
	h3 {
		color:  #0066ff
}
ul {
  list-style-type: none;
}